<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">
<h1 th:text="${title}">Default Title</h1>

<nav th:replace="fragments :: navigation"></nav>

<form method="post" style="max-width:600px;" th:object="${cheese}">
    <div class="form-group">
        <label th:for="name">Name</label>
        <input class="form-control" th:field="*{number}" />
        <span th:errors="*{number}" class="error"></span>
    </div>
    <!--<div class="form-group">-->
        <!--<label th:for="description">Description</label>-->
        <!--<input class="form-control" th:field="*{description}" />-->
        <!--<span th:errors="*{description}" class="error"></span>-->
    <!--</div>-->

    <!--<div class="form-group">-->
        <!--<label th:for="type">Category</label>-->
        <!--<select name="categoryId">-->
            <!--<option th:each="category : ${categories}"-->
                    <!--th:text="${category.number}"-->
                    <!--th:value="${category.id}"></option>-->
            <!--&lt;!&ndash;make this a menu / user&ndash;&gt;-->
        <!--</select>-->
    <!--</div>-->
    <input type="submit" value="Add Time" />
</form>

</body>
</html>